* {
  box-sizing: border-box;
}

html{
  font-size:  16px;
}

#top{
  margin-left: 7.5%;
}

.flexcontainer-row{
  display: flex;
  flex-direction: row;
}

#imglogo{
  line-height: 75px;
}
#imgalurageek
{
  line-height: 62px;
  margin-left: 5px;
}

.form {
  display: flex;
  flex-direction: row;
}

.campo-buscar
{
   padding: 10px 35px 10px 15px;
   border: none;
   height:  50px;
   width: 350px;
   margin-left: 30px;
   border-radius: 100px;
}

.boton-buscar
{
  background: transparent;
  border: none;
  outline: none;
  margin-left: -43px;
  margin-top:  -20px;
}

.boton-buscar img{
  object-fit: cover;
}

.boton-blanco {
  color: #29a3f0;
  background-color: white;
  border-color: #29a3f0;
  border-width: 1px;
  width: 180px;
  height: 50px;
}

#boton-login {
  margin-left: 400px;
}


/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: regular;
  src: url('fonts/raleway-v26-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/raleway-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/raleway-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/raleway-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/raleway-v26-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/raleway-v26-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

body {
  background-color: #fcf5f5;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  margin: .5em;
}


footer {
    width:  100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #333;
    color: white;
    text-align: center;
    opacity: 0.9;
    margin: .5em;
  }

  