* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size:  16px;
  background-color: white;
}

body {
  background-color: white;
  font-family: Raleway, Verdana, Geneva, sans-serif;
  margin: .5em;
}

#top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
}

.flexcontainer-row{
  display: flex;
  flex-direction: row;
}

#imglogo{
  line-height: 75px;
  /*margin-left: 43px;*/
}
#imgalurageek
{
  line-height: 62px;
  margin-left: 5px;
}

.form {
  display: flex;
  flex-direction: row;
}

.campo-buscar
{
   padding: 10px 35px 10px 15px;
   border: none;
   height:  50px;
   width: 350px;
   margin-left: 30px;
   border-radius: 100px;
}

.boton-buscar
{
  background: transparent;
  outline: none;
  border: none;
  margin-left: -43px;
  align-self: flex-start;
  margin-top:  16px;
}

.boton-buscar img{
  /*width: 20px;
  height: 20px;*/
  object-fit: cover;
  /*align-self: center;*/
}

.boton-blanco {
  color: #29a3f0;
  background-color: white;
  border-color: #29a3f0;
  border-width: 1px;
  width: 180px;
  height: 50px;
}

#boton-login {
 margin-left: 400px;
  /*margin-top: 10px;*/
}

#banner {
  /*display:  none;*/
  /*position: relative;*/
  /*top: 70px;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 0px 32px 110px;
  width:  100%;
  height: 352px;
  font-weight: bold;
  /*height: 300px;*/
  background-image: url("./img/banner-image.png");
}

#titulobanner {
  /*margin-left: 152px;*/
  color: white;
  font-size: 52px;
  line-height: 70px;
}

#subtitulobanner {
  color: white;
  font-size: 22px;
  line-height: 32px;
  /*margin-left: 152px;*/
}

#botonconsolas {
  background-color: #2A7AE4;
  border: none;
  color: white;
  height: 51px;
  /*margin-left: 152px;*/
  /*padding: 15px;*/
  margin-top: 5px;
  padding: 0px 15px 0px 15px;

  vertical-align: middle;
}

#productos {
  margin-bottom: 60px;
}
.categoria {
  margin-top: 30px;
}

.titulocategoria {
  margin-left: 110px;
  font-size: 32px;
  font-weight: bold;
  line-height: 50px;
}

.listaproductos {
  /*margin-left: 144px;*/
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.itemproducto {
  margin-right: 10px;
}

.tituloproducto {
  line-height: 25px;
  font-size: 14px;
}

.linkproducto {
  font-size:  16px;
  font-weight: bold;
  color: #2A7AE4;
}

.precioproducto {
  line-height: 35px;
  font-size:  16px;
  font-weight: bold;
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: regular;
  src: url('fonts/raleway-v26-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/raleway-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/raleway-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/raleway-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/raleway-v26-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/raleway-v26-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

.rodapie{
  background-color: #EAF2FD;
  height: 300px;
  /*display: flex;*/
}

#realizado {
    width:  100%;
    /*position: fixed;*/
    background-color: #333;
    color: white;
    text-align: center;
    /*align-self: flex-end;*/
    opacity: 0.9;
    margin: .5em;
  }

  